.home-bg-slider-1 {
    background-image: url("../images/homeslider/1.png");
    background-size: cover;
    height: 1090px;
    transition-property: transform;
    flex-shrink: 1;
    position: relative;
    background-position: center center;
}